* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(224, 224, 219);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.card {
  max-width: 20rem;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.14);
  color: #444;
  text-align: center;
  font-size: large;
  background-color: white;
}
.card .card-header {
  position: relative;
  height: 3rem;
}
.card .card-header .profile-image {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  position: absolute;
  object-fit: cover;
  object-position: top;
  transform: translate(-50%, -50%);
  border: 6px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.card .card-body {
  padding: 1.5rem 2.5rem;
}
.card .card-body .full-name {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.5rem 0 0;
}
/* .card .card-body .username {
  font-size: smaller;
  color: #777;
  margin: 1px 0 0;
} */
.card .card-body .city {
  margin: 0.5rem 0 0;
  font-size: medium;
}
.card .card-body .desc {
  margin: 0.5rem 0 0;
  font-size: medium;
}
.card .card-footer {
  padding: 1rem 0;
  border-top: 1px solid #e6e6e6;
}
.card .card-footer .social-icon {
  font-size: medium;
  margin: 0 0.5rem;
}

.card .card-footer .social-icon.facebook {
  color: blue;
}
.card .card-footer .social-icon.email {
  color: rgb(255, 0, 76);
}
.card .card-footer .social-icon.github {
  color: black;
}
.card .card-footer .social-icon.linkedin {
  color: #0077b5;
}
.card .card-footer .social-icon.whatsapp {
  color: rgb(35, 172, 35);
}
